.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.banner-header {
  width: 100%;
  height: auto;
  max-height: 150px;
  max-heigth: 100px !important;
}

.vote-container {
  position: relative;
  float: left;
  width: 10%;
  margin-top: 10px;
}

.vertical-vote {
  display: block;
  height: 50%;
  width: 50%;
  margin: 1px;
}

.wrapper {
  width: 100%;
  margin: auto;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
}

.info-container {
  text-align: left;
}

.comment-button {
  background: transparent;
  border: none;
}

.drop-down-menu {
  margin-right: 10px;
}

.comment-button:hover {
  color: blue;
}

ul {
  list-style: none;
}

.drop-down-menu {
  float: left;
}

.info-container > h4:hover {
  color: blue;
  cursor: pointer;
}

.info-container > button {
  padding-left: 0px;
  padding-right: 2px;
}

.modesty-spacing {
  margin-right: 10px;
}

.post-icon {
  height: 100%;
  vertical-align: middle;
}

.author-container {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.metadata-container {
  margin: 0px;
  padding: 0px;
  margin-left: 0px;
  display: inline;
}

.title-button {
  background: transparent;
  border: none;
  font-size: 120%;
}

.title-button:hover {
  color: blue;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.post-detail {
  width: 50%;
  margin: auto;
  text-align: center;
}

.post-body {
  margin-top: 20px;
  text-align: left;
  border: 1px solid gray;
  border-radius: 8px;
}

.body-text {
  margin: 0px;
  padding: 5px;
}

.comment-input {
  border: 1px solid black;
  height: 70px;
  border-radius: 4px;
  width: 70%;
  margin-right: 10px;
}

.author-input {
  border: 1px solid black;
  height: 35px;
  border-radius: 4px;
  width: 60%;
  margin-right: 10px;
  margin-left: 0px;
}

.comment-container > button {
  margin-bottom: 30px;
}

div.inline {
  float: left;
}

span {
  margin: 5px;
}

ol {
  list-style: none;
}

.info-container > p {
  margin: 15px;
}

.border {
  border: 1px solid gray;
  border-radius: 8px;
}
h5 {
  vertical-align: middle;
}

.comment-arrow {
  margin: auto;
  vertical-align: middle;
}

textarea {
  resize: none;
}

.full-width {
  width: 100%;
}

.title-input {
  border: 1px solid black;
  border-radius: 4px;
  width: 70%;
}

.float-right {
  float: right;
}

.inline {
  display: inline;
}

.comment-author {
  font-weight: bold;
}

.no-margin {
  margin: 0px;
}

.jumbotron-about {
  width: 90%;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

.no-padding {
  padding: 0px;
}

.large-text {
  font-size: 1.2em;
}

input:focus {
  outline: none;
}
